.db-text01 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  color: #161515;
  margin: 18px 0 0 32px;
  display: inline-block;
  padding: 0 10px 0 0;
}
.db-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.78px;
  color: #161515;
  margin: 0 0 0 32px;
}
.revenue {
  width: 902px;
  height: 390px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-top: 18px;
  margin-left: 20px;
}
.form-control {
  width: 130px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #b9b9b9;
  margin: 0 auto;
}
.form-group {
  margin-left: 620px;
  margin-top: 12px;
  cursor: pointer;
}
.choose-select {
  display: flex;
}
.chart02 {
  align-items: center;
  margin-left: 20px;
  margin-top: 5px;
}
