.cate-page {
    width:902px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 18px 0px 50px 18px;
    padding-bottom: 10px;
}
.widgetLgCate{
    font-weight: 300;
}
.widgetLgActimg {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
}
.widgetLgName {
    font-weight: 500;
}