.db-subtext {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  color: #161515;
  margin-left: 32px;
  display: inline-block;
}
.activity {
  width: 902px;
  height: 390px;
  margin-top: 18px;
  margin-left: 20px;
}
.ac-chart {
  width: 673px;
  height: 390px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.adchart {
  display: flex;
}
.cc-chart {
  width: 213px;
  height: 185px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-left: 18px;
  margin-bottom: 18px;
}
.cc-chart img {
  width: 213px;
  height: 185px;
}
.chart01 {
  align-items: center;
  margin-left: 10px;
  margin-top: 5px;
}
