.pr_detail {
    width:902px;
    height:330px;
    margin-left: 18px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top: 18px;
}
.pr_detail .db-text02{
    font-size:18px;
    font-weight: 600;
    line-height: 21.78px;
    color:#E95324;
    margin-left:32px;
    padding-top:12px;
    display: inline-block;
}
.pr_detail .bl_title input {
    width: 260px;
    height: 45px;
    border: 1px solid #161515;
    margin-top: 10px;
}
.pr_detail .bl_title1 input {
    width: 260px;
    height: 45px;
    border: 1px solid #161515;
    margin-top: 10px;
}
.pr_detail .bl_title p {
    font-size:14px;
    font-weight: 500;
    line-height: 16.94px;
    color:#161515;
    margin-left:32px;
    margin-right: 16px;
    width: 100px;
}
.pr_detail .bl_title1 p {
    font-size:14px;
    font-weight: 500;
    line-height: 16.94px;
    color:#161515;
    margin-left:32px;
    margin-right: 16px;
}
.pr_detail .pr_form,.pr_detail .bl_title, .pr_detail .bl_title1{
    display: flex;
}
.pr_detail .bl_title {
    margin-right: 22px;
}
.pr_detail .pr_form {
    margin-bottom: 24px;
}
.pr_detail .bl_title1 .pr_tx1 {
    margin-left:69px;
}
.pr_detail .bl_title1 .pr_tx {
    margin-left:36px;
}
.pr_detail .bl_title1 .pr_tx2 {
    margin-left:13px;
}