.userList {
    width:902px;
    height:585px;
    margin-left: 18px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top: 18px;
}
.userSt {
    color: #376CE0;
}
.userEdit {
    padding:5px 10px;
    cursor: pointer;
    color: #EB9880;

}
.userDel {
    padding:5px 10px;
    cursor: pointer;
}
.userList .widgetLgTable .widgetLgCate1 {
    color: #376CE0;
}