.sidebar {
  /* width: 300px; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-form {
  width: 238px;
  height: 600px;
  display: flex;
  margin-top: 2px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
}
.bar_01 {
  width: 198px;
  height: 32px;
  margin-top: 32px;
  margin-bottom: 16px;
  margin-left: 22px;
  position: absolute;
  cursor: pointer;
}
.bar-text {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  width: 151px;
  color: #ec643d;
  margin-left: 8px;
  margin-top: 5px;
}
.dashboard_icon {
  margin-bottom: 32px;
}
.bar_02 {
  width: 198px;
  height: 32px;
  margin-top: 92px;
  margin-bottom: 16px;
  margin-left: -18px;
  position: absolute;
  cursor: pointer;
}
.bar_03 {
  width: 198px;
  height: 32px;
  margin-top: 152px;
  margin-bottom: 16px;
  margin-left: -58px;
  position: absolute;
  cursor: pointer;
}
.bar_04 {
  width: 198px;
  height: 32px;
  margin-top: 212px;
  margin-bottom: 16px;
  margin-left: -98px;
  position: absolute;
  cursor: pointer;
}
.bar_05 {
  width: 198px;
  height: 32px;
  margin-top: 272px;
  margin-bottom: 16px;
  margin-left: -137px;
  position: absolute;
  cursor: pointer;
}
.bar_06 {
  width: 198px;
  height: 32px;
  margin-top: 332px;
  margin-bottom: 16px;
  margin-left: -177px;
  position: absolute;
  cursor: pointer;
}
.bar_07 {
  width: 198px;
  height: 32px;
  margin-top: 392px;
  margin-bottom: 16px;
  margin-left: -216px;
  position: absolute;
  cursor: pointer;
}
.bar_08 {
  width: 198px;
  height: 32px;
  margin-top: 452px;
  margin-bottom: 16px;
  margin-left: 22px;
  position: absolute;
  cursor: pointer;
}
