.or_stt, .or_history {
    width:902px;
    height:156px;
    margin-left: 18px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top: 18px;
}
.or_stt .db-text02, .or_history .db-text02, .info_line .db-text02, .info_pay .db-text02{
    font-size:18px;
    font-weight: 600;
    line-height: 21.78px;
    color:#E95324;
    margin-left:32px;
    padding-top:12px;
    display: inline-block;
}
.or_stt .stt_detail, .or_history .stt_detail, .info_line .stt_detail, .info_pay .stt_detail{
    display: flex;
}
.or_stt .stt_detail p, .info_line .stt_detail p{
    margin-left: 77px;
    margin-bottom: 0;
    font-size:14px;
    font-weight: 500;
    line-height: 16.94px;
}
.or_history .stt_detail p {
    margin-left: 77px;
    margin-bottom: 0;
    font-size:14px;
    font-weight: 500;
    line-height: 16.94px;
}
.or_history .stt_detail .stt_num {
    margin-left: 161px;
}
.info_line {
    width:902px;
    height:466px;
    margin-left: 18px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top: 18px;
}
.info_line .stt_detail .stt_time {
    margin-left:12px;
}
.info_line .stt_detail .stt_time1 {
    margin-left:82px;
}
.info_line .info_line1 {
    margin-left:6px;
}
.info_line .info_line2 {
    display: flex;
}
.info_line .info_line2 img{
    width: 111px;
    height: 99.9px;
    margin-left: 136px;
    margin-top:24px;
}
.info_line .info_line2 h5 {
    margin-left: 77px;
    margin-bottom: 0;
    font-size:16px;
    font-weight: 600;
    line-height: 16.94px;
}
.info_pay {
    width:902px;
    height:440px;
    margin-left: 18px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top: 18px;
}
.info_pay .widgetLgTable {
    margin-left: 24px;
    background-color: #ffffff;
    width: 823px;
    border-bottom: 1px solid #E1E1E1;

}
.info_pay .widgetLgRate {
    font-size:16px;
    font-weight: 600;
    line-height: 20.78px;
}
.info_pay .widgetLgRevi {
    color:#E95324;
}
.info_pay .widget {
    margin-left:512px;
    height:115px;
    background-color: #ffffff;
    width: 303px;
    border-bottom: 1px solid #E1E1E1;
}
.info_pay .stt_detail p {
    margin-left: 77px;
    margin-bottom: 0;
    font-size:14px;
    font-weight: 500;
    line-height: 16.94px;
}
.info_pay .stt_detail .stt_num {
    margin-left: 46px;
    color:#E95324;
}
.info_pay .stt_detail .stt_num1 {
    margin-left: 58px;
    color:#E95324;
}
.info_pay .stt_detail .stt_num2 {
    margin-left: 67px;
    color:#E95324;
}
.info_pay .widget1 {
    display: flex;
    margin-left: 535px;
}
.info_pay .widget1 .stt_num3 {
    margin-left:46px;
    color:#E95324;
}
.info_pay .widget1 h3 {
    margin-left:46px;
    color:#161616;
}