.Ch-pages {
    width:902px;
    height:953px;
    margin-left: 18px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top: 18px;
}
.Ch-pages .db-text02{
    font-size:18px;
    font-weight: 600;
    line-height: 21.78px;
    color:#E95324;
    margin-left:32px;
    display: inline-block;
}
.Ch-pages .db-text03{
    font-size:18px;
    font-weight: 600;
    line-height: 21.78px;
    color:#161515;
    margin-left:32px;
    display: inline-block;
    text-decoration: none;
}
.Ch-pages .Ch-form {
    width: 902px;
    background: #FFFFFF;
    margin:18px 0 0 0px;
    border-bottom: 1px solid #E1E1E1;
    position: relative;
    cursor: pointer;
}
.Ch-pages .ch_button {
    border: none;
    background: #E95324;
    border-radius: 8px;
    width: 168px;
    height:45px;
    margin-left: 560px;
    margin-top: 12px;
    cursor: pointer;
}
.Ch-pages .ch_button p{
    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
    color: #ffffff;
    height:50px;
    margin: 0 103px;
    width: 138px;
    transform: translate(-50%, -50%);

}
.Ch-pages .ch_button .icon_03 {
    width: 24px;
    height:24px;
    margin: 12px 5px 0 10px;
}
.Ch-pages .ch_sth {
    display: flex;
    height:76px;
    width: 902px;
    background: #FFFFFF;
    border-bottom: 1px solid #E1E1E1;
}
.Ch-pages .db-text04{
    font-size:18px;
    font-weight: 600;
    line-height: 21.78px;
    color:#E95324;
    margin-left:32px;
    padding-top:12px;
    display: inline-block;
}
.chp-form .widgetLgRate, .chp-form .widgetLgCate, .chp-form .widgetLgRevi{
    font-weight: 500;
    line-height: 16.94px;
    color:#161515;
    font-size: 14px;
}
.chp-form .widgetLgPrice,.chp-form .widgetLgStock {
    font-weight: 500;
    line-height: 16.94px;
    color:#E95324;
    font-size: 14px;
}